* {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 25px;
    background-color: #191919;
    color: #fff;
}

.jobs-table {
    border-collapse: collapse;
    margin-top: 5px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
    .jobs-table thead tr {
        text-align: center;
    }

    .jobs-table th, 
    .jobs-table td {
        padding: 8px 15px;
    }

    .jobs-table td{
        font-size: 1.1em;
        width: 100px;
    }

    .jobs-table tr {
        border-bottom: 2px double #adabab30;
    }

.job-active {
    background-color: #383838ff;
}
    .job-active td {
        color: #fff;
    }
.job-inactive {
    background-color: #232222;
}

.research-table {
    border-collapse: collapse;
    margin-top: 5px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

    .research-table thead tr {
        text-align: center;
    }

    .research-table th,
    .research-table td {
        padding: 8px 15px;
    }

    .research-table td {
        font-size: 1.1em;
        width: 100px;
    }

.research-active {
    background-color: #383838ff;
}

    .research-active td {
        color: #fff;
    }
.research-inactive {
    background-color: #232222;
}

.upgrade-table {
    border-collapse: collapse;
    margin-top: 5px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

    .upgrade-table thead tr {
        text-align: center;
        background-color: #04920c;
    }

    .upgrade-table th,
    .upgrade-table td {
        padding: 8px 15px;
    }

    .upgrade-table td {
        font-size: 1.1em;
        width: 100px;
    }

.upgrade-active {
    background-color: #035508;
}

    .upgrade-active td {
        color: #fff;
    }

.upgrade-inactive {
    background-color: #232222;
}

.next-upgrade {
    height: 24px;
    font-size: 1.05em;
    color: #706f6f;
}

.menu-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px double #706f6fbf;
    padding-bottom: 10px;
}

.menu-items{
    flex: auto;
}

.menu-game-speed {
    align-items: flex-end; 
    justify-content: flex-end;
}

.menu-btn {
    padding: 10px;
    cursor: pointer;
}
    .menu-btn:hover {
        background-color: #232222;
    }
    .menu-btn-active {
        background-color: #706f6fbf;
    }

.content-area {
    padding: 8px 0px 5px 15px;
    margin-top: 10px;
    background-color: #232222;
}

.sidebar {
    padding: 20px;
    margin-top: 20px;
    background-color: #232222;
    display: flex;
    flex-direction: column;
}

.sidebar-section{
    display: inline-block;
}

/*PROGRESS BARS*/

.progress-bar
{
    position: relative;
    cursor: pointer;
    width: 250px;
    border: 1px black solid;
    background-color: #1808a5;
}

.progress-text {
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 5px;
    color: #fff;
    text-shadow: 1px 1px 2px #151414;
}

.progress-fill {
    height: 30px;
    background-color: #d9af25;
}

.job-active .progress-bar .progress-fill,
.research-active .progress-bar .progress-fill {
    height: 30px;
    background-color: #d9af25;
}

.job-inactive .progress-bar .progress-fill,
.research-inactive .progress-bar .progress-fill{
    height: 30px;
    background-color: #43435a;
}

.active-resource {
    font-size: 0.85em;
    padding: 5px;
    color: #706f6f;
}

.label-text {
    display: inline-block;
    font-size: 1.05em;
    color: #706f6f;
    width: 150px;
}

.global-multiplier {
    font-size: 1.05em;
    color: #00eef6;
}

.job-xp {
    font-size: 1.05em;
    color: #fcff00;
}

.processing-speed {
    font-size: 1.05em;
    color: #419f2a;
}

.money {
    font-size: 1.05em;
    color: #419f2a;
}

.income {
    font-size: 1.05em;
    color: #00eef6;
}

.expenses {
    color: #e80d0d;
}

.time-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    margin-bottom: 20px;
}
.age {
    display: inline-block;
    font-size: 1.5em;
}
.obsoletion {
    display: block;
    font-size: 1.05em;
    color: #706f6f;
}

/*JOB TYPE STYLING*/
.Basics tr,
.Fundamentals tr,
.Scrapyard tr {
    background-color: #419f2a;
    color: #fff;
    font-size: 1.08em;
    margin-bottom: 5px;
}

.Amatuer tr,
.Novice tr{
    background-color: #780b85;
    color: #fff;
    font-size: 1.08em;
    margin-bottom: 5px;
}
